:root{
    --primary: #2962ff;
    --light: #f3f7ff;
    --dark: #0039cb;
}

body{
    font-family: 'Roboto', sans-serif;
    width: 100%;
    height: 90vh;
    padding: 0;
    margin: 0;
}

main{
    margin: 0 2rem;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(5, 1fr);
}

main header{
    grid-area: 1 / 1 / 2 / 8;
    display: flex;
    justify-content: center;
    align-items: baseline;
    margin-top: 1rem;
}

main header h1{
    margin-left: 10px;
    color: var(--primary);
    font-weight: 900;
    font-size: 2.5rem;
    text-align: center;
}

main form{
    text-align: center;
    margin-top: 2.5rem;
    margin-bottom: 1.5rem;
    grid-area: 2 / 1 / 6 / 5;
}

main form input{
    all: unset;
    padding: 7px 10px;
    margin-bottom: 8px;
    border-radius: 4px;
    border: solid var(--dark) 1px;
    font-weight: 300;
    font-size: 14px;
}

main form button{
    all: unset;
    padding: 7px 60px;
    margin-top: 10px;
    border-radius: 50px;
    text-transform: uppercase;
    background-color: var(--primary);
    color: white;
    cursor: pointer;
}

main div.info{
    grid-area: 2 / 5 / 6 / 8;
    background-color: var(--light);
    border-radius: 20px;
    width: 90%;
}

main div.info h4{
    color: var(--primary);
    text-align: center;
}

main div.info ul li{
    margin-bottom: 10px;
    font-size: 12px;
}

main div.info ul li span{
    font-weight: bold;
}

p.prediction-result{
    text-align: center;
}

footer p{
    text-align: center;
    font-size: small;
    color: var(--dark);
    margin-bottom: 10px;
}